JustEatCliente/src/conf/xml-resources/web-service-references/ServicesSoap/wsdl/localhost_8080/JustEat-war/ServicesSoap.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.ea/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ea/">

<xs:element name="getDistintosCodPostales" type="tns:getDistintosCodPostales"/>

<xs:element name="getDistintosCodPostalesResponse" type="tns:getDistintosCodPostalesResponse"/>

<xs:element name="getNumUsuarios" type="tns:getNumUsuarios"/>

<xs:element name="getNumUsuariosResponse" type="tns:getNumUsuariosResponse"/>

<xs:element name="getTopFiveClientes" type="tns:getTopFiveClientes"/>

<xs:element name="getTopFiveClientesResponse" type="tns:getTopFiveClientesResponse"/>

<xs:element name="getTopFiveMenus" type="tns:getTopFiveMenus"/>

<xs:element name="getTopFiveMenusResponse" type="tns:getTopFiveMenusResponse"/>

<xs:element name="getTopTenRestaurantes" type="tns:getTopTenRestaurantes"/>

<xs:element name="getTopTenRestaurantesResponse" type="tns:getTopTenRestaurantesResponse"/>

<xs:element name="getUsuariosbyCP" type="tns:getUsuariosbyCP"/>

<xs:element name="getUsuariosbyCPResponse" type="tns:getUsuariosbyCPResponse"/>

<xs:complexType name="getTopFiveClientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTopFiveClientesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTopTenRestaurantes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTopTenRestaurantesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuariosbyCP">
<xs:sequence>
<xs:element name="cp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuariosbyCPResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTopFiveMenus">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTopFiveMenusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNumUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDistintosCodPostales">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDistintosCodPostalesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>