JustEatCliente/src/conf/xml-resources/web-service-references/ServicesSoap/wsdl/localhost_8080/JustEat-war/ServicesSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ea/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ea/" name="ServicesSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ea/" schemaLocation="http://localhost:8080/JustEat-war/ServicesSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="getNumUsuarios">
<part name="parameters" element="tns:getNumUsuarios"/>
</message>
<message name="getNumUsuariosResponse">
<part name="parameters" element="tns:getNumUsuariosResponse"/>
</message>
<message name="getUsuariosbyCP">
<part name="parameters" element="tns:getUsuariosbyCP"/>
</message>
<message name="getUsuariosbyCPResponse">
<part name="parameters" element="tns:getUsuariosbyCPResponse"/>
</message>
<message name="getTopFiveMenus">
<part name="parameters" element="tns:getTopFiveMenus"/>
</message>
<message name="getTopFiveMenusResponse">
<part name="parameters" element="tns:getTopFiveMenusResponse"/>
</message>
<message name="getTopTenRestaurantes">
<part name="parameters" element="tns:getTopTenRestaurantes"/>
</message>
<message name="getTopTenRestaurantesResponse">
<part name="parameters" element="tns:getTopTenRestaurantesResponse"/>
</message>
<message name="getTopFiveClientes">
<part name="parameters" element="tns:getTopFiveClientes"/>
</message>
<message name="getTopFiveClientesResponse">
<part name="parameters" element="tns:getTopFiveClientesResponse"/>
</message>
<message name="getDistintosCodPostales">
<part name="parameters" element="tns:getDistintosCodPostales"/>
</message>
<message name="getDistintosCodPostalesResponse">
<part name="parameters" element="tns:getDistintosCodPostalesResponse"/>
</message>
<portType name="ServicesSoap">
<operation name="getNumUsuarios">
<input wsam:Action="http://services.ea/ServicesSoap/getNumUsuariosRequest" message="tns:getNumUsuarios"/>
<output wsam:Action="http://services.ea/ServicesSoap/getNumUsuariosResponse" message="tns:getNumUsuariosResponse"/>
</operation>
<operation name="getUsuariosbyCP">
<input wsam:Action="http://services.ea/ServicesSoap/getUsuariosbyCPRequest" message="tns:getUsuariosbyCP"/>
<output wsam:Action="http://services.ea/ServicesSoap/getUsuariosbyCPResponse" message="tns:getUsuariosbyCPResponse"/>
</operation>
<operation name="getTopFiveMenus">
<input wsam:Action="http://services.ea/ServicesSoap/getTopFiveMenusRequest" message="tns:getTopFiveMenus"/>
<output wsam:Action="http://services.ea/ServicesSoap/getTopFiveMenusResponse" message="tns:getTopFiveMenusResponse"/>
</operation>
<operation name="getTopTenRestaurantes">
<input wsam:Action="http://services.ea/ServicesSoap/getTopTenRestaurantesRequest" message="tns:getTopTenRestaurantes"/>
<output wsam:Action="http://services.ea/ServicesSoap/getTopTenRestaurantesResponse" message="tns:getTopTenRestaurantesResponse"/>
</operation>
<operation name="getTopFiveClientes">
<input wsam:Action="http://services.ea/ServicesSoap/getTopFiveClientesRequest" message="tns:getTopFiveClientes"/>
<output wsam:Action="http://services.ea/ServicesSoap/getTopFiveClientesResponse" message="tns:getTopFiveClientesResponse"/>
</operation>
<operation name="getDistintosCodPostales">
<input wsam:Action="http://services.ea/ServicesSoap/getDistintosCodPostalesRequest" message="tns:getDistintosCodPostales"/>
<output wsam:Action="http://services.ea/ServicesSoap/getDistintosCodPostalesResponse" message="tns:getDistintosCodPostalesResponse"/>
</operation>
</portType>
<binding name="ServicesSoapPortBinding" type="tns:ServicesSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNumUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuariosbyCP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopFiveMenus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopTenRestaurantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopFiveClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDistintosCodPostales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicesSoap">
<port name="ServicesSoapPort" binding="tns:ServicesSoapPortBinding">
<soap:address location="http://localhost:8080/JustEat-war/ServicesSoap"/>
</port>
</service>
</definitions>